<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="assets/bs1.css">
<title>Beem Software Home Remastered</title>
</head>
<body>
<div class="bs1-main-container">
<div class="bs1-window">
<h1><img src="assets/smallfolder.gif"/>{{ page.title }}</h1>
<div class="bs1-window-body">
<div class="bs1-sidebar">
<div class="bs1-folder-img" ></div>
<br/>
<h2>{{ page.title }}</h2>
<div class="bs1-color-line"></div>
<p>{{ page.description }}</p>
</div>
<div class="bs1-content-area">
<div class="bs1-content-area-inner">
{{ content }}
</div>
</div>
</div>
</div>
</div>
</body>
</html>
